@use './partials/mixins' as *;
@use './partials/variables' as *;

*,
*::before,
*::after{
    user-select: none;
}

ul{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: black;
}

body{
    padding-top: 95px;
}