/**PALETTE**/
$priGreen: #01975c;
$secYellow: #f4b807;
$detGrey: #333333;

/**FONT**/
@font-face {
    font-family: '';
    src: url('../../fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}
$primaryFont: 'Inter', sans-serif;
